#root {
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-size: 5vw;
}

.nook-logo {
  width: 80%;
  border-radius: 25px;
  border: 2px solid whitesmoke;
}

.contain {
  width: 80%;
  margin: auto;
}

.card {
  background-color: #b4967a;
  padding: 10px;
}

.single-event {
  color: rgb(0, 75, 75);
  border: 2px solid whitesmoke;
}
